* {
  font-family: "Prata", serif, "Roboto", sans-serif;
  font-weight: regular;
  letter-spacing: 1px;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.home {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.home .bg {
  width: 100%;
  min-width: 600px;
  background-size: cover;
  position: fixed;
  right: -10%;
}
.home .container#home_sectiom {
  position: relative;
  top: 10%;
  font-size: 0px;
}
.home .container#home_sectiom .block {
  display: inline-block;
  font-size: initial;
}
.home .container#home_sectiom .left {
  width: 30%;
  padding: 16px;
  top: 40%;
  position: fixed;
  z-index: 2;
}
.home .container#home_sectiom .left h1, .home .container#home_sectiom .left p, .home .container#home_sectiom .left btn {
  padding: 10px;
}
.home .container#home_sectiom .left p {
  font-family: "Roboto", sans-serif;
}
.home .container#home_sectiom .right {
  width: 55%;
  top: 150px;
  position: absolute;
  right: 0px;
  padding: 16px;
}
.home .container#home_sectiom .right .work {
  height: auto;
  aspect-ratio: 4/3;
  border-radius: 10px;
  margin-bottom: 56px;
  background-color: #aaa;
}
.home .container#home_sectiom .right .card2 {
  background-color: red;
  background-size: cover;
}

@media screen and (max-width: 900px) {
  .container#home_sectiom .block.left {
    width: 65%;
    padding: 16px;
    margin-top: 56px;
    margin-bottom: 24px;
    position: absolute;
  }
  .container#home_sectiom .block.right {
    padding: 24px;
    width: 100%;
    top: 350px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .container#home_sectiom .block.right .work {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    border-radius: 10px;
    margin-bottom: 56px;
    background-color: #333;
  }
}
@media screen and (max-width: 550px) {
  .container#home_sectiom .block.left {
    width: 80%;
    padding: 16px;
    margin-top: 56px;
    margin-bottom: 72px;
    position: absolute;
  }
  .container#home_sectiom .block.right {
    padding: 24px;
    width: 100%;
    top: 350px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .container#home_sectiom .block.right .work {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    border-radius: 10px;
    margin-bottom: 56px;
    background-color: #666;
  }
}
@-webkit-keyframes scrolldown {
  0% {
    -webkit-transform: translateX(-140px);
            transform: translateX(-140px);
    opacity: 0.5;
  }
  45% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translateX(-140px);
            transform: translateX(-140px);
  }
}
@keyframes scrolldown {
  0% {
    -webkit-transform: translateX(-140px);
            transform: translateX(-140px);
    opacity: 0.5;
  }
  45% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translateX(-140px);
            transform: translateX(-140px);
  }
}